<div class="footer" *ngIf="content && logo">
  <div class="content">
    <div class="footer-logo"><img src="{{logo?.logo?.value}}"></div>
    <div class="button-group">
      <div class="btns contact-btn"><a href="{{'/' + content?.calltoactionContactUsLink?.value}}">{{content?.calltoactionContactUs?.value}}</a></div>
      <div class="btns join-btn"><a href="{{'/' + content?.calltoactionJoinUsLink?.value}}">{{content?.calltoactionJoinUs?.value}}</a></div>
    </div>
    <div class="phone-number">{{content?.phoneNumber?.value}}</div>
    <div class="address"><a
      href="https://www.google.ca/maps/place/Effenti/@46.767182,-71.311184,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb890d694f6f49b:0xcbba9a26f77b1fd7!8m2!3d46.767182!4d-71.30899"
      target="_blank" rel="noopener noreferrer">{{content?.address?.value}}</a></div>

  </div>
</div>
